<ion-view view-title="Report Detail">
  <ion-content>
    <div class="row" style="min-height:100%">
      <div class="col">
        <ion-list>
          <ion-item href="#/app/reports/{{ report.id }}/categories">
            Categories
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/flight">
            Flight
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Involvement
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Person Selection
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Person Details
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Category Questions
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Notes
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Summary Report
          </ion-item>
          <ion-item href="#/app/reports/{{ report.id }}/temp">
            Confirmation
          </ion-item>

        </ion-list>
      </div>
      <div class="col col-75">
        <ion-nav-view style="min-height:100%" name="reportContent"></ion-nav-view>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-stable">
    <h1 class="title"></h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button button-positive">Continue</button>
    </div>
  </ion-footer-bar>
</ion-view>
